h2 {font-size: 275%;}
h3 {font-size: 250%;}
h4 {font-size: 225%;}
h5 {font-size: 200%;}
h6 {font-size: 175%;}
p {}

* {
  box-sizing: border-box;
}

/*=======================================
>>>>>>>>  body  <<<<<<<<
========================================*/

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

/*=======================================
>>>>>>>>  section: header wrapper  <<<<<<
========================================*/

.header-wrapper {
  width: 100vw;
  background: #e5f3f2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header, h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  margin-top: 10px;
  display: inline-block;
  display: flex;
  justify-content: center;
}

.h1-idea {
  color: #00a79d;
}

.h1-box {
  color: #6d6e71;
}

/*=======================================
>>>>>>>>  form input body & title  <<<<<<
========================================*/

.form {
  width: 90vw;
  display: flex;
  flex-direction: column;
  border: 0;
  padding: 0;
}

.input-title {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color:#D1D3D4;
  justify-content: center;
  margin-top: 15px;
  padding: 5px;
  border: 2px solid #D1D3D4;
}

.input-body {
  width: 100%;
  height: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: #D1D3D4;
  margin-top: 10px;
  padding: 5px;
  padding-bottom: 42px;
  border: 2px solid #D1D3D4;
}

.button-save {
  width: 100%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
  background: #00a79d;
  margin: 12px 0 15px 0;
  padding: 0;
  border: 0;
}

/*=======================================
>>>>>>>>  section search  <<<<<<<<
========================================*/

.search {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
}

#input-search {
  width: 90vw;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color:#D1D3D4;
  margin: 15px 0 10px 0;
  padding: 5px;
  border: 2px solid #D1D3D4;
}

/*=======================================
>>>>>>>>  article  <<<<<<<<
========================================*/

.new-idea-article {
  width: 90vw;
  margin: auto;
  /*border-bottom: 2px solid #D1D3D4;*/
}

.title-container {
  margin-top: 12px;
}

h2, .new-idea-header {
  width: 200px;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  color: #6d6371;
  font-size: 19px;
  font-weight: 700;
  margin-top: 5px;
  border: 0;
}

.delete-image {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 10px;
  background: none;
  border: none;
  background-repeat: round;
  background-image: url("assets/delete.svg")
}

.new-idea-body {
  font-size: 15px;
  color:#939598;
  resize: none;
  border: none;
}

.new-idea-footer {
  display: flex;
  align-items: center;
  margin: 12px 0 12px 0;
  border-bottom: 2px solid #D1D3D4;
}

.upvote-image, .downvote-image {
  float: left;
  margin-bottom: 15px;
}

.upvote-image {
  width: 20px;
  height: 20px;
  float: right;
  background: none;
  border: none;
  background-repeat: round;
  background-image: url("assets/upvote.svg")
}

.downvote-image {
  width: 20px;
  height: 20px;
  float: right;
  margin-left: 5px;
  background: none;
  border: none;
  background-repeat: round;
  background-image: url("assets/downvote.svg")
}

.h3-footer {
  font-family: 'Roboto Slab', serif;
  padding-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
}

img {
  width: 20px;
}

h3 {
  font-size: 83%;
  float:left;
  margin-bottom: 15px;
}

/*=======================================
>>>>>>>>  Footer  <<<<<<<<
========================================*/

.footer-box {
  background: #e5f3f2;
  margin: auto;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.footer-text  {
  color: #FFF;
  font-size: 10px;
  padding: 5px;
  text-align: center;
}

/*=======================================
>>>>>>>>  hover properties  <<<<<<<<
========================================*/

.delete-image:hover{
  background-image: url("assets/delete-hover.svg");
}

.upvote-image:hover {
  background-image: url("assets/upvote-hover.svg");
}

.downvote-image:hover{
  background-image: url("assets/downvote-hover.svg");
}

/*=======================================
>>>>>>>>  @media min400  <<<<<<<<
========================================*/

@media screen and (min-width: 400px) {

.input-title  {
  width: 360px;
  margin: auto;
  margin-top: 15px;
}

h1  {
  font-size: 38px;
}

.input-body {
  width: 360px;
  height: 34px;
  padding: 5px;
  margin: auto;
  margin-top: 10px;
}

.button-save {
  width: 360px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

#input-search {
  width: 360px;
  margin: auto;
  margin-top: 12px;
  margin-bottom: 10px;
}

.new-idea-article {
  width: 360px;
  margin: auto;
}

}
