* {
  box-sizing: border-box;
}

/*=======================================
body
========================================*/

body {
  font-family: 'Open Sans', sans-serif;
}

/*=======================================
section: header wrapper
========================================*/

.header {
  width: 100%;
  background: #e5f3f2;
  font-family: 'Roboto Slab', serif;
  font-size: 25px;
  padding: 20px 20px 0;
}

.h1-idea {
  color: #00a79d;
  text-align: center;
}

span {
  color: #6d6e71;
}

/*=======================================
form input body & title
========================================*/
.form {
  margin: 15px auto 0 auto;
}

.input-search,
.form {
  width: 100%;
  max-width: 400px;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color:#D1D3D4;
}

.input-title {
  width: 100%;
  font-size: inherit;
  color:#6D6E71;
  padding: 5px;
  border: 2px solid #D1D3D4;
}

.input-task {
  width: 100%;
  font-size: inherit;
  text-align: left;
  color: #6D6E71;
  margin-top: 10px;
  padding: 5px;
  border: 2px solid #D1D3D4;
}

.input-title::placeholder,
.input-task::placeholder,
.input-search::placeholder{
  color: #D1D3D4;
}

.button-save {
  width: 100%;
  height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: white;
  background: #00a79d;
  margin: 12px 0 15px 0;
  border: 0;
}
.button-save:disabled {
  background-color: #D1D3D4;
  cursor: not-allowed;
}
.button-save:hover:enabled {
  background-color: #045E55;
}


/*=======================================
section search
========================================*/
main {
  padding: 0 20px;
}

.input-search {
  margin: auto;
  padding: 5px;
  border: 2px solid #D1D3D4;
}
.input-search:focus {
  color:#6D6E71;
}

/*=======================================
article
========================================*/

.card-container {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.card {
  width: 100%;
}

.text-wrapper {
  padding-top: 12px;
}

h2, .card-header {
  width: 80%;
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  color: #6d6371;
  font-size: 19px;
  font-weight: 700;
  margin-top: 5px;
  border: 0;
  resize: none;
  white-space: nowrap;
}

.delete-image {
  width: 20px;
  height: 20px;
  float: right;
  margin-top: 10px;
  background: none;
  border: none;
  background-repeat: round;
  background-image: url("assets/delete.svg")
}

.card-body {
  padding: 5px;
  width: 100%;
  font-size: 15px;
  color:#939598;
  resize: none;
  border: none;
}

.card-footer {
  padding: 0 5px;
  margin: 25px 0 12px;
  border-bottom: 2px solid #D1D3D4;
  text-align: center;
}

.upvote-image,
.downvote-image {
  display: inline-block;
  margin-bottom: 15px;
}

.upvote-image {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  background-repeat: round;
  background-image: url("assets/upvote.svg")
}

.downvote-image {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  background: none;
  border: none;
  background-repeat: round;
  background-image: url("assets/downvote.svg")
}

.h3-footer {
  display: inline-block;
  padding-right: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  font-family: 'Roboto Slab', serif;
  color: #6D6E71;
}

img {
  width: 20px;
}

h3 {
  font-size: 83%;
  margin-bottom: 15px;
  padding: 5px;
}
.importance {
  display: inline-block;
  width: 75px;
  color: #6D6E71;
  text-align: left;
}

.btn-container{
  padding: 10px 0;
  width: 100%;
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.show-btn,
.show-more-btn{
  margin: 0 2px 10px;
}
.filter-btn{
  margin: 5px;
}

.completed-task{
  margin-bottom: 15px;
}

.show-btn,
.show-more-btn,
.filter-btn,
.completed-task {
  background-color: #e5f3f2;
  border: none;
  border-radius: 10px;
  color: #6D6E71;
}

.strikethrough {
  text-decoration: line-through;
}

.selected {
  background-color: #045E55;
  color: #fff;
}

/*=======================================
Footer
========================================*/

/*.footer-box {
  background: #e5f3f2;
  margin: auto;
  width: 200px;
  height: 20px;
  border-radius: 10px;
  margin-top: 20px;
}

.footer-text  {
  color: #FFF;
  font-size: 10px;
  padding: 5px;
  text-align: center;
}*/

/*=======================================
hover properties
========================================*/
.show-btn:hover,
.show-more-btn:hover,
.filter-btn:hover,
.completed-task:hover {
  background-color: #045E55;
  color: #fff;
}

.delete-image:hover{
  background-image: url("assets/delete-hover.svg");
}

.upvote-image:hover {
  background-image: url("assets/upvote-hover.svg");
}

.downvote-image:hover{
  background-image: url("assets/downvote-hover.svg");
}

.show-btn,
.show-more-btn,
.filter-btn,
.completed-task,
.delete-image,
.downvote-image,
.upvote-image{
  transition: .15s ease-in-out;
}

/*MEDIA QUERY*/

@media screen and (max-width: 550px) {
  .input-task {
    height: 70px;
    padding-bottom: 42px;
  }
}
