h1 {font-size: 300%;}
h2 {font-size: 275%;}
h3 {font-size: 250%;}
h4 {font-size: 225%;}
h5 {font-size: 200%;}
h6 {font-size: 175%;}
p {}

* {
  box-sizing: border-box;
}
.header-wrapper {
  display: flex;
  flex-direction: column;
  background: #e5f3f2;
  width: 100vw;
  align-items: center;
}

header, h1 {
  font-family: 'Roboto Slab', serif;
  margin-top: 10px;
  display: inline-block;
  display: flex;
  justify-content: center;
}
h1 {
  font-size: 145%;
}
body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

.new-idea-body {
  resize: none;
  border: none;
  font-family: 'Open Sans', sans-serif;
  color:#D1D3D4;
  font-size: 15px;
}

.h1-idea {
  color: #00a79d;
}
.h1-box {
  color: #6d6e71;
}
.form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  border: 0;
  padding: 0;
}
.form-wrapper {
  display: flex;
  justify-content: center;
}
input {
  padding: 0;
}
.input-title {
  font-family: 'Open Sans', sans-serif;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
  border: 2px solid #D1D3D4;
  color:#D1D3D4;
  font-size: 15px;
  padding: 5px;
}
.input-body {
  font-family: 'Open Sans', sans-serif;
  height: 70px;
  width: 100%;
  margin-top: 10px;
  border: 2px solid #D1D3D4;
  color: #D1D3D4;
  font-size: 15px;
  padding: 5px;
  padding-bottom: 42px;

}
.button-save {
  font-family: 'Open Sans', sans-serif;
  height: 30px;
  width: 100%;
  margin: 12px 0 12px 0;
  background: #00a79d;
  color: white;
  padding: 0;
  border: 0;
  font-size: 15px;

}

/*=======================================
>>>>>>>>  Main  <<<<<<<<
========================================*/

.main-wrapper {
  display: flex;
}

/* need to rename? */
.search {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: center;
}
.input-search {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid #D1D3D4;
  margin: 12px 0 12px 0;
  color:#D1D3D4;
  font-size: 15px;
  padding: 5px;
  width: 90vw;
}

/*=======================================
>>>>>>>>  Card  <<<<<<<<
========================================*/
.new-idea-article {
  margin: auto;
  width: 90vw;
  border-bottom: 2px solid #D1D3D4;

}

h2, .new-idea-header {
  display: inline-block;
  font-family: 'Roboto Slab', serif;
  color: #6d6371;
  font-size: 12px;
  font-weight: 700;
  font-size: 19px;
  border: 0;
}
img {
  /*display: inline-block;*/
  width: 20px;

}
h3 {
  font-size: 83%;
  float:left
}


/*=======================================
>>>>>>>>  images  <<<<<<<<
========================================*/
.upvote-image, .downvote-image {
  float: left;
}
.downvote-image {
  margin-left: 5px;
}

.delete-image {
  float: right;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  background-repeat: round;
  background-image: url("assets/delete.svg")
}
.delete-image:hover{
  background-image: url("assets/delete-hover.svg");
}
.upvote-image {
  float: right;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  background-repeat: round;
  background-image: url("assets/upvote.svg")
}

.upvote-image:hover {
  background-image: url("assets/upvote-hover.svg");
}

.downvote-image {
  float: right;
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  background-repeat: round;
  background-image: url("assets/downvote.svg")
}
.downvote-image:hover{
  background-image: url("assets/downvote-hover.svg");
}


.new-idea-footer {
  display: flex;
  align-items: center;
  margin: 12px 0 12px 0;
}
.title-container {
  margin-top: 12px;
}
p {
  margin-top: 10px;
}


.h3-footer {
  font-family: 'Roboto Slab', serif;

  margin-left: 5px;
}
